Technical requirements:
 
- No JQUERY or other frameworks
- no canvas, no bootstrap
- Animation if possible in CSS3
- Size: 320x480px 
-- Optional: make it responsive, the aspect ratio should be always the same
- in HTML there should be only a script tag to your javascript file and a viewport tag
-- this means all necessary HTML Tags should be written in Javascript
-- optional: write everything in es6
- Browser Support: Chrome, Firefox and Safari
 
Animation requirements:
Look at the story board from left to right (left: start screen, right: end screen)
1) Build up with an animation the start screen, the swipe finger should indicate that the user has to swipe to start the animation (transition from screen1 -> screen2)
-- Important: It should not start via click, it should start with swipe interaction (you can simulate it with the developer console of the browser)
2) the text will hide and all the ingredients of the drink spin over the shape, and while the ingredients spin around the real bottle will show up
3) … this part of the animation will end up with the big bottle together with the fruit fan and splash
4) After a small time, the big bottle morphs into the 3-packshot and bigger fruit fan – the claim will show up at the top and the subclaim will follow underneath
5) The Animation will end up with the "neu" leaf and the Click to Action button "Jetzt alle entdecken" -> target URL https://www.coca-cola-oesterreich.at/fuzetea
 
