*{
	position:absolute;
	top: 0;
}

#banner1{
	z-index: 4;
}
#banner2{
	z-index: 3;
}
#banner3{
	z-index: 2;
}
#banner4{
	z-index: 1;
}

#animationBanner2 {
	top: 0;
	z-index: 3;
}

.wisch_text_image {
    top: 40px;    
    left: 25px;
}

.wisch_text_image_banner2{
 	filter: blur(2px);
    top: 40px;    
    left: 25px;
}

.ueberrascht_text_image{
    top: 30px;	
	left: 35px;
}

.flasche_kontur_image{
    left: 105px;
    top: 150px;
    z-index: 2;
}

.flasche_hibiskus_image{
    top: 100px;
    left: 105px;
    z-index: 2;
}

.flaschen_packshot_image{
    top: 120px;
    left: 65px;
    z-index: 2;
}
.swipe_icon_image{
    top: 260px;
    left: 120px;
}

.fuzetea_image{
    top: 410px;
    left: 35px;
}

.blatt1_image{
	width: 122px;
	height:123px;
	top: 400px;
	left: 110px;
}

.blatt2_image_left{
	width: 85px;
	height:89px;
	top: 200px;
	left: -5px;
}

.blatt2_image_left_center{
	transform: rotate(20deg);
	width: 97px;
	height:98px;
	top: 300px;
	left: -10px;
}

.blatt2_image_right{
	transform: rotate(105deg);
	z-index: 1;
	width: 80px;
	height:93px;
	top: 190px;
	left: 170px;
}

.blatt2_image_right_center{
	transform: rotate(-10deg);
	width: 70px;
	height:93px;
	top: 300px;
	left: 230px;
}

.blatt2_image_right_bottom{
	transform: rotate(90deg);
	width: 65px;
	height:85px;
	top: 440px;
	left: 230px;	
}

.hibiskus_image_left_one{
	transform: rotate(-40deg);
	width: 108px;
	height:85px;
	top: 145px;
	left: 30px;	
}

.hibiskus_image_right_second{
	transform: rotate(-40deg);
	width: 118px;
	height:91px;
	top: 275px;
	left: 275px;	
}

.hibiskus_image_right_third{
	width: 80px;
	height: 62px;
	top: 350px;
	left: 155px;
}

.hibiskus_image_left_fourth{
	width: 80px;
	height: 62px;
	top: 440px;
	left: -35px;	
}

.pfirsich_image_right{
	transform: rotate(10deg);
	width: 80px;
	height: 85px;
	top: 150px;
	left: 200px;
}

.pfirsich_image_left{
	transform: rotate(30deg);
	width: 80px;
	height: 85px;
	top: 400px;
	left: 220px;
}

.pfirsich_image_left_bottom{
	transform: rotate(106deg);
	width: 70px;
	height: 80px;
	top: 280px;
	left: 45px;	
}

.combo_image{
	top: 90px;
	left: 25px;
	z-index: 1;
}

.flaschen_bg_image{
	top: 90px;
	left: -15px;
	z-index: 1;
}

.erlebe_text_image{
    top: 420px;
    left: 110px;
}

.neu_image{
	top: 100px;
    left: 225px;
    z-index: 2;
}

.cta_btn_image{
	top: 335px;
	left: 75px;
	z-index: 2;
}

.legaline_image{
	top: 460px;
	left: 30px;
	width: 280px;
}