*{
	box-sizing: content-box;
}

#container {
	position:relative;
	width: 320px;
    height: 480px;
    float:left;
    padding-left: 10px;
}

.background_image
    {
    	position: relative;
	    top: 0;
	    left: 0;

    }

.wisch_text_image {
	position: absolute;
    left: 25px;
    top: 40px;
}

.flasche_kontur_image{
	position: absolute;
    left: 105px;
    top: 150px;
}

.swipe_icon_image{
	position: absolute;
    left: 120px;
    top: 260px;
}

.fuzetea_image{
	position: absolute;
    left: 25px;
    top: 410px;
}